.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(1, 2, 19, 0.24);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(255, 236, 15, 1);
    max-width: 325px;
    width: 80%;
    text-align: center;
    border-color: rgba(255, 236, 15, 1) !important;
}

.custom-footer {
    font-size: 15px;
    display: flex;
}

@media (max-width: 768px) {
    .custom-footer {
        font-size: 13px;
    }
}