.is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
    font-size: 0.875em;
}

.list-group {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    padding: 10px;
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}
form {
  font-size: 12px; /* aplica a todo dentro del form */
}

form input.form-control {
  font-size: 12px; /* asegura que los inputs también tengan 10px */
}
form select.form-control {
  font-size: 12px; /* asegura que los inputs también tengan 10px */
}

/* opcional: placeholder más pequeño */
form input::placeholder {
  font-size: 12px;
}
.titulo-sobre-borde {
    position: absolute;
    top: 0;
    left: 0rem; /* Ajusta la distancia del borde derecho */
    transform: translateY(-50%);
    background-color: white; /* Fondo blanco para que sobresalga del card */
    padding: 0 10px; /* Espaciado horizontal */
    font-size: 15px;
    font-weight: bold;
}
.titulo-sobre-borde-2 {
    background-color: white; /* Fondo blanco para que sobresalga del card */
    padding: 0 10px; /* Espaciado horizontal */
    font-size: 15px;
    font-weight: bold;
    display: inline-block;    /* Para que no tome todo el ancho */
    margin: 0;                /* Quitar margen */
}
.titulo-sobre-borde-centrado {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
}
.ng-select-bootstrap {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  min-height: 38px;
  font-size: 13px;
  background-color: #fff;
}

.ng-select-bootstrap .ng-value-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 38px;
  padding: 0.25rem 0.5rem;
}

.ng-select-bootstrap .ng-value {
  background-color: #e9ecef;
  color: #495057;
  border-radius: 0.25rem;
  padding: 2px 6px;
  margin-right: 3px;
  font-size: 13px;
}

.ng-select-bootstrap .ng-placeholder {
  color: #6c757d;
}

.ng-select-bootstrap .ng-input input {
  font-size: 13px;
  padding: 0;
}
ngx-dropzone-preview {
  width: 70px !important;
  height: 70px !important;
  min-width: 70px !important;
  min-height: 70px !important;
}

ngx-dropzone-preview img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.tabla-resumen td{
  padding:6px 10px;
}

/* filas ingresos */
.fila-ingreso{
  background:#f8fff9;
}

/* total ingresos */
.fila-total-ingresos{
  background:#e8f5e9;
  font-size:13px;
}

/* gastos */
.fila-gastos{
  background:#fff3f3;
}

/* retorno */
.fila-retorno{
  background:#f5f9ff;
}

/* porcentaje */
.fila-porcentaje{
  background:#fff8e1;
}

/* total final */
.fila-total-general{
  background:#eceff1;
  font-size:14px;
}