<a routerLink="/home/inicio" class="brand-link" style="color: white;">
    <img src="./assets/image/nuevoLogo.png" alt="Seguros Suárez Logo" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light color:white">{{appName}}</span>
</a>

<div class="sidebar" style="background-image: url('assets/images/fondos/fondo_menu.png');">
    <nav class="mt-2">
        <ul name="mainParent" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <li class="nav-item">
                <a routerLink="/home/personal" class="nav-link" routerLinkActive="active" (click)="SetActive($event)">
                    <i class="nav-icon fas fa-users mr-2" style="color: white;"> </i>
                    <p style="color: white;">Personal</p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/home/presupuesto" class="nav-link" routerLinkActive="active" (click)="SetActive($event)">
                    <i class="nav-icon fas fa-cash-register mr-2" style="color: white;"> </i>
                    <p style="color: white;">Presupuesto</p>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/home/comunicados" class="nav-link" routerLinkActive="active" (click)="SetActive($event)">
                    <i class="nav-icon fas fa-satellite-dish mr-2" style="color: white;"> </i>
                    <p style="color: white;">Comunicados</p>
                </a>
            </li>
        </ul>
    </nav>
</div>