<a routerLink="/home/inicio" class="brand-link" style="color: white;">
    <img src="./assets/image/nuevoLogo.png" alt="Seguros Suárez Logo" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light">{{appName}}</span>
</a>

<div class="sidebar" style="background-image: url('assets/images/fondos/fondo_menu.png');">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Acuerdos de Servicio -->
            <li class="nav-item has-treeview" routerLinkActive="menu-open" *ngIf="rolUsuario == 18">
                <a href="javascript:void(0)" class="nav-link d-flex align-items-center">
                    <i class="nav-icon fas fa-cash-register" style="color: white;"></i>
                    <p class="flex-grow-1 ml-2" style="color: white;">
                        Acuerdo Servicio
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">
                    <li class="nav-item" *ngIf="rolUsuario == 18">
                        <a routerLink="/home/acserv/ingreso" class="nav-link d-flex align-items-center" routerLinkActive="active" (click)="SetActive($event)">
                            <i class="nav-icon fas fa-plus-square" style="color: white;"></i>
                            <p class="ml-3" style="color: white;">Ingresar</p>
                        </a>
                    </li>

                </ul>
                                <ul class="nav nav-treeview">
                    <li class="nav-item" *ngIf="rolUsuario == 18">
                        <a routerLink="/home/acserv/seguimiento" class="nav-link d-flex align-items-center" routerLinkActive="active" (click)="SetActive($event)">
                            <i class="nav-icon fas fa-clipboard-list" style="color: white;"></i>
        <p class="ml-3" style="color: white;">Listado</p>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- CheckList -->
<li class="nav-item has-treeview"
    routerLinkActive="menu-open"
    *ngIf="rolUsuario == 18 || rolUsuario == 29">

  <a href="javascript:void(0)" class="nav-link">
    <i class="nav-icon fas fa-tasks" style="color: white;"></i>
    <p class="flex-grow-1 ml-2" style="color: white;">
      CheckList
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">

    <li class="nav-item" *ngIf="rolUsuario == 18">
      <a routerLink="/home/checkList/ingreso"
         routerLinkActive="active"
         class="nav-link" style="color: white;">
        <i class="nav-icon fas fa-user-plus"></i>
        <p class="ml-3">Ingresar</p>
      </a>
    </li>

    <li class="nav-item" *ngIf="rolUsuario == 18 || rolUsuario == 29">
      <a routerLink="/home/checkList/seguimiento"
         routerLinkActive="active"
         class="nav-link" style="color: white;">
        <i class="nav-icon fas fa-clipboard-list"></i>
        <p class="ml-3" style="color: white;">Listado</p>
      </a>
    </li>

  </ul>
</li>
            <!-- PRESUPUESTO Y GASTOS -->
            <li class="nav-item has-treeview"  routerLinkActive="menu-open" *ngIf="rolUsuario == 18">
                <a href="javascript:void(0)" class="nav-link d-flex align-items-center">
                    <i class="nav-icon fas fa-cash-register" style="color: white;"></i>
                    <p class="flex-grow-1 ml-2" style="color: white;">
                        P.Y G.
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>

                <ul class="nav nav-treeview">

                    <!-- Ingreso -->
                    <!-- <li class="nav-item" *ngIf="rolUsuario == 18">
                        <a routerLink="/home/pyg/ingreso" class="nav-link d-flex align-items-center" routerLinkActive="active" (click)="SetActive($event)">
                            <i class="nav-icon fas fa-plus-square" style="color: white;"></i>
                            <p class="ml-3" style="color: white;">Ingreso</p>
                        </a>
                    </li> -->
                    <!-- Ingreso -->
                    <li class="nav-item" *ngIf="rolUsuario == 18">
                        <a routerLink="/home/pyg/ingreso2" class="nav-link d-flex align-items-center" routerLinkActive="active" (click)="SetActive($event)">
                            <i class="nav-icon fas fa-plus-square" style="color: white;"></i>
                            <p class="ml-3" style="color: white;">Ingresar</p>
                        </a>
                    </li>
                    <!-- Listado / Seguimiento -->
                    <li class="nav-item" *ngIf="rolUsuario == 18">
                        <a routerLink="/home/pyg/seguimiento" class="nav-link d-flex align-items-center" routerLinkActive="active" (click)="SetActive($event)">
                            <i class="nav-icon fas fa-clipboard-list" style="color: white;"></i>
                            <p class="ml-3" style="color: white;">Listado1</p>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</div>