<div class="content-wrapper"
    style="background-image: url('assets/images/fondos/plataforma_fondo2.png');background-repeat: no-repeat;height: 100%;background-size: cover;">
    <br>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 5px;">
                                <i class="fas fa-user-alt mr-2"></i>
                                Seguimiento Beneficios
                            </h3>
                            <button type="button" hidden data-toggle="modal">
                            </button>
                        </div>
                        <div class="card-body">
                            <table #dataTableAcuerdos class="table table-bordered table-striped"
                                style="width: 100%;font-size: 11px;text-align: center;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>